@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

@model IEnumerable<BasicAuthentication.Models.Item>

<h2 class="setRight">Here is your list of tasks, @User.Identity.Name</h2>
<hr />

@if (Model.Any())
{
    <div>
        <ul>
            @foreach (var listItem in Model)
            {
                <li class="largeText">@Html.DisplayFor(modelItem => listItem.Description)</li>
                <hr />
            }
        </ul>
    </div>
}
else
{
    <p>No tasks have been added yet!</p>
}

@Html.ActionLink("Create new", "Create")